auto-install-peers=true
strict-peer-dependencies=false
dedupe-peer-dependents=true
shared-workspace-lockfile=false
prefer-workspace-packages=true

//npm.pkg.github.com/:_authToken=${CR_PAT}
@valorem-labs-inc:registry=https://npm.pkg.github.com